Author: Ishika Wikramanayake

Start_Date: 26-Aug-2019

End_Date: 30-Aug-2019

### Import libraries

In [1]:
import pandas as pd
import folium

In [2]:

# ACT

Australian_Ground_Frogs = pd.read_csv("./Datasets/AUSTRALIAN CAPITAL TERRITORY/1988/Amphibians/Australian_Ground_Frogs.csv")
Tree_Frogs = pd.read_csv("./Datasets/AUSTRALIAN CAPITAL TERRITORY/1988/Amphibians/Tree_Frogs.csv")

Amphibians_1988 = pd.concat([Australian_Ground_Frogs, Tree_Frogs])

# NSW

Australian_Ground_Frogs = pd.read_csv("./Datasets/NEW SOUTH WALES/1988/Amphibians/Australian_Ground_Frogs.csv")

Amphibians_1988 = pd.concat([Amphibians_1988, Australian_Ground_Frogs])

Tree_Frogs = pd.read_csv("./Datasets/NEW SOUTH WALES/1988/Amphibians/Tree_Frogs.csv")

Amphibians_1988 = pd.concat([Amphibians_1988, Tree_Frogs])

# NT
Australian_Ground_Frogs = pd.read_csv("./Datasets/NORTHERN TERRITORY/1988/Amphibians/Australian_Ground_Frogs.csv")
Amphibians_1988 = pd.concat([Amphibians_1988, Australian_Ground_Frogs])
Tree_Frogs = pd.read_csv("./Datasets/NORTHERN TERRITORY/1988/Amphibians/Tree_Frogs.csv")
Amphibians_1988 = pd.concat([Amphibians_1988, Tree_Frogs])

True_Toads = pd.read_csv("./Datasets/NORTHERN TERRITORY/1988/Amphibians/True_Toads.csv")
Amphibians_1988 = pd.concat([Amphibians_1988, True_Toads])


# QLD

Australian_Ground_Frogs = pd.read_csv("./Datasets/QUEENSLAND/1988/Amphibians/Australian_Ground_Frogs.csv")
Amphibians_1988 = pd.concat([Amphibians_1988, Australian_Ground_Frogs])
Narrow_Mouthed_Frogs = pd.read_csv("./Datasets/QUEENSLAND/1988/Amphibians/Narrow-Mouthed_Frogs.csv")
Amphibians_1988 = pd.concat([Amphibians_1988, Narrow_Mouthed_Frogs])
Tree_Frogs = pd.read_csv("./Datasets/QUEENSLAND/1988/Amphibians/Tree_Frogs.csv")
Amphibians_1988 = pd.concat([Amphibians_1988, Tree_Frogs])
True_Frogs = pd.read_csv("./Datasets/QUEENSLAND/1988/Amphibians/True_Frogs.csv")
Amphibians_1988 = pd.concat([Amphibians_1988, True_Frogs])

# SA

Australian_Ground_Frogs = pd.read_csv("./Datasets/SOUTH AUSTRALIA/1988/Amphibians/Australian_Ground_Frogs.csv")
Amphibians_1988 = pd.concat([Amphibians_1988, Australian_Ground_Frogs])
Tree_Frogs = pd.read_csv("./Datasets/SOUTH AUSTRALIA/1988/Amphibians/Tree_Frogs.csv")
Amphibians_1988 = pd.concat([Amphibians_1988, Tree_Frogs])

# TAS
Australian_Ground_Frogs = pd.read_csv("./Datasets/TASMANIA/1988/Amphibians/Australian_Ground_Frogs.csv")
Amphibians_1988 = pd.concat([Amphibians_1988, Tree_Frogs])
Tree_Frogs = pd.read_csv("./Datasets/TASMANIA/1988/Amphibians/Tree_Frogs.csv")
Amphibians_1988 = pd.concat([Amphibians_1988, Tree_Frogs])

# VIC

Australian_Ground_Frogs = pd.read_csv("./Datasets/VICTORIA/1988/Amphibians/Australian_Ground_Frogs.csv")
Amphibians_1988 = pd.concat([Amphibians_1988, Australian_Ground_Frogs])
Tree_Frogs = pd.read_csv("./Datasets/VICTORIA/1988/Amphibians/Tree_Frogs.csv")
Amphibians_1988 = pd.concat([Amphibians_1988, Tree_Frogs])

# WA

Australian_Ground_Frogs = pd.read_csv("./Datasets/WESTERN AUSTRALIA/1988/Amphibians/Australian_Ground_Frogs.csv")
Amphibians_1988 = pd.concat([Amphibians_1988, Australian_Ground_Frogs])
Tree_Frogs = pd.read_csv("./Datasets/WESTERN AUSTRALIA/1988/Amphibians/Tree_Frogs.csv")
Amphibians_1988 = pd.concat([Amphibians_1988, Tree_Frogs])

### 1988

In [3]:
# Drop unnecessary columns in 1988

Amphibians_1988 = Amphibians_1988.drop(columns=['Record ID', 'Catalogue Number', 'Taxon Concept GUID', 'Scientific Name - original', 'Species', 'Subspecies', 'Institution ID', 'Institution', 'Collection ID', 'Collection', 'Locality', 'Coordinate Precision', 'IMCRA 4 Regions', 'Minimum elevation in meters', 'Local Government Areas 2011', 'Maximum elevation in meters', 'Minimum depth in meters', 'Maximum depth in meters', 'Sex', 'Preparations', 'Outlier for layer', 'Data Resource ID', 'Data Resource Name', 'Licence', 'Institution Code', 'Collection Code', 'Geodetic datum - original', 'Coordinate Uncertainty in Metres', 'Individual count', 'Collector', 'Month', 'Day', 'Event Date - parsed', 'Verbatim event date', 'Basis Of Record - original', 'Basis Of Record', 'Occurrence status', 'Taxonomic Quality', 'Order', 'IBRA 7 Regions', 'Location Quality', 'Latitude - original', 'Longitude - original', 'Vernacular name'])

In [4]:
# Check how many null values are in their in all the columns for 1988

Amphibians_1988.isnull().sum()

Vernacular name - original    1218
Scientific Name                  0
Taxon Rank                       0
Kingdom                          0
Phylum                           0
Class                            0
Family                           0
Genus                            0
Latitude                         0
Longitude                        0
Country - parsed                 0
State - parsed                   0
Year                             0
dtype: int64

In [5]:
# Manually add the English names to the rows with null values for 1988

Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Litoria ewingii', 'Vernacular name - original'] = 'Southern brown tree frog'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Litoria moorei', 'Vernacular name - original'] = 'Motorbike frog'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Litoria adelaidensis', 'Vernacular name - original'] = 'Slender tree frog'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Litoria peronii', 'Vernacular name - original'] = 'Peron\'s tree frog'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Litoria verreauxii', 'Vernacular name - original'] = 'Whistling tree frog'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Rhinella marina', 'Vernacular name - original'] = 'Cane toad'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Litoria rothii', 'Vernacular name - original'] = 'Roth\'s tree frog'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Litoria caerulea', 'Vernacular name - original'] = 'Australian green tree frog'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Litoria coplandi', 'Vernacular name - original'] = 'Copland\'s rock frog'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Litoria fallax', 'Vernacular name - original'] = 'Eastern dwarf tree frog'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Litoria raniformis', 'Vernacular name - original'] = 'Growling grass frog'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Litoria rubella', 'Vernacular name - original'] = 'Desert tree frog'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Crinia georgiana', 'Vernacular name - original'] = 'Quacking frog'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Litoria bicolor', 'Vernacular name - original'] = 'Northern dwarf tree frog'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Litoria splendida', 'Vernacular name - original'] = 'Magnificent tree frog'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Litoria inermis', 'Vernacular name - original'] = 'Bumpy rocket frog'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Metacrinia nichollsi', 'Vernacular name - original'] = 'Nicholl\'s Toadlet'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Litoria lesueuri', 'Vernacular name - original'] = 'Lesueur\'s frog'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Litoria paraewingi', 'Vernacular name - original'] = 'Plains brown tree frog'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Litoria wilcoxii', 'Vernacular name - original'] = 'Litoria wilcoxii'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Mixophyes fasciolatus', 'Vernacular name - original'] = 'Great barred frog'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Litoria gracilenta', 'Vernacular name - original'] = 'Dainty green tree frog'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Crinia signifera', 'Vernacular name - original'] = 'Common eastern froglet'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Litoria infrafrenata', 'Vernacular name - original'] = 'White-lipped tree frog'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Litoria nasuta', 'Vernacular name - original'] = 'Striped rocket frog'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Litoria latopalmata', 'Vernacular name - original'] = 'Broad-palmed frog'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Litoria dentata', 'Vernacular name - original'] = 'Bleating tree frog'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Uperoleia daviesae', 'Vernacular name - original'] = 'Howard Springs Toadlet'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Crinia tinnula', 'Vernacular name - original'] = 'Wallum froglet'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Litoria tyleri', 'Vernacular name - original'] = 'Tyler\'s tree frog'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Mixophyes coggeri', 'Vernacular name - original'] = 'Northern Barred Frog'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Cyclorana verrucosa', 'Vernacular name - original'] = 'Rough frog'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Cyclorana australis', 'Vernacular name - original'] = 'Cyclorana australis'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Litoria jervisiensis', 'Vernacular name - original'] = 'Jervis Bay tree frog'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Geocrinia victoriana', 'Vernacular name - original'] = 'Eastern smooth frog'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Mixophyes iteratus', 'Vernacular name - original'] = 'Giant barred frog'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Crinia remota', 'Vernacular name - original'] = 'Remote froglet'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Pseudophryne bibronii', 'Vernacular name - original'] = 'Bibron\'s toadlet'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Litoria rheocola', 'Vernacular name - original'] = 'Common mist frog'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Litoria chloris', 'Vernacular name - original'] = 'Litoria chloris'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Litoria gilleni', 'Vernacular name - original'] = 'Centralian tree frog'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Cyclorana alboguttata', 'Vernacular name - original'] = 'Striped burrowing frog'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Pseudophryne major', 'Vernacular name - original'] = 'Large toadlet'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Pseudophryne raveni', 'Vernacular name - original'] = 'Copper-backed brood frog'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Litoria aurea', 'Vernacular name - original'] = 'Green and golden bell frog'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Litoria dayi', 'Vernacular name - original'] = 'Australian lace-lid'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Litoria jungguy', 'Vernacular name - original'] = 'Litoria jungguy'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Pseudophryne coriacea', 'Vernacular name - original'] = 'Red-backed toadlet'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Mixophyes schevilli', 'Vernacular name - original'] = 'Northern barred frog'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Litoria pearsoniana', 'Vernacular name - original'] = 'Pearson\'s green tree frog'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Pseudophryne semimarmorata', 'Vernacular name - original'] = 'Southern toadlet'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Litoria xanthomera', 'Vernacular name - original'] = 'Orange-thighed frog'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Litoria microbelos', 'Vernacular name - original'] = 'Javelin frog'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Litoria serrata', 'Vernacular name - original'] = 'Green-eyed tree frog'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Cyclorana novaehollandiae', 'Vernacular name - original'] = 'New Holland frog'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Litoria olongburensis', 'Vernacular name - original'] = 'Wallum sedge frog'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Litoria burrowsae', 'Vernacular name - original'] = 'Tasmanian tree frog'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Uperoleia laevigata', 'Vernacular name - original'] = 'Smooth toadlet'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Cyclorana platycephala', 'Vernacular name - original'] = 'Litoria platycephala'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Crinia sloanei', 'Vernacular name - original'] = 'Sloane\'s froglet'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Pseudophryne australis', 'Vernacular name - original'] = 'Red-crowned toadlet'
Amphibians_1988.loc[Amphibians_1988['Scientific Name'] == 'Austrochaperina fryi', 'Vernacular name - original'] = 'Fry\'s frog'

In [6]:
# Take the rows where the English name is not null in 1988

Amphibians_1988 = Amphibians_1988[Amphibians_1988['Vernacular name - original'].notnull()]

In [7]:
# Read 2019 data for amphibians, mammals and reptiles

Amphibians_2019 = pd.read_csv("ANIMALS.csv")

In [8]:
# Calculate the frequency of the English names for 1988
 
Amphibians_1988['freq'] = Amphibians_1988.groupby('Vernacular name - original')['Vernacular name - original'].transform('count')

# Drop rows with English name duplicates in 1988

Amphibians_1988.drop_duplicates(subset ="Vernacular name - original", keep = "first", inplace = True)

In [9]:
# Check the first 5 rows in 1988

Amphibians_1988.head()

,Vernacular name - original,Scientific Name,Taxon Rank,Kingdom,Phylum,Class,Family,Genus,Latitude,Longitude,Country - parsed,State - parsed,Year,freq
0,Common eastern froglet,Crinia signifera,species,Animalia,Chordata,Amphibia,Myobatrachidae,Crinia,-35.519655,148.771285,Australia,Australian Capital Territory,1988,628
3,Southern Toadlet,Pseudophryne dendyi,species,Animalia,Chordata,Amphibia,Myobatrachidae,Pseudophryne,-35.586005,148.912904,Australia,Australian Capital Territory,1988,1
0,Lesueur's frog,Litoria lesueuri,species,Animalia,Chordata,Amphibia,Hylidae,Litoria,-35.233300,148.944400,Australia,Australian Capital Territory,1988,280
0,Pouched Frog,Assa darlingtoni,species,Animalia,Chordata,Amphibia,Myobatrachidae,Assa,-28.544088,153.301607,Australia,New South Wales,1988,54
2,Smooth toadlet,Uperoleia laevigata,species,Animalia,Chordata,Amphibia,Myobatrachidae,Uperoleia,-32.200000,150.466000,Australia,New South Wales,1988,6

In [10]:
# Add the frequency in 1988 to 2019

for index, row in Amphibians_2019.iterrows():
    species = row['Vernacular name - original']
    if any(Amphibians_1988['Vernacular name - original'] == species):
        Amphibians_2019.at[index,'1988'] = Amphibians_1988.loc[Amphibians_1988['Vernacular name - original'] == species, 'freq'].iloc[0]

In [11]:
# Check the first 5 rows in 2019

Amphibians_2019.head()

,Vernacular name - original,Scientific Name,Taxon Rank,Kingdom,Phylum,Class,Family,Genus,Latitude,Longitude,Country - parsed,State - parsed,Year,freq,Count_1968,Rate_1968,No,1978,1988
0,Slender-tailed dunnart,Sminthopsis murina,species,Animalia,Chordata,Mammalia,Dasyuridae,Sminthopsis,-29.539333,153.090917,Australia,New South Wales,2019,3,2109,-99.857752,1,18.0,NaN
1,Slender-tailed dunnart,Sminthopsis murina,species,Animalia,Chordata,Mammalia,Dasyuridae,Sminthopsis,-32.380600,151.013600,Australia,New South Wales,2019,3,2109,-99.857752,1,18.0,NaN
2,Slender-tailed dunnart,Sminthopsis murina,species,Animalia,Chordata,Mammalia,Dasyuridae,Sminthopsis,-34.500000,150.400000,Australia,New South Wales,2019,3,2109,-99.857752,1,18.0,NaN
3,Common Planigale,Planigale maculata,species,Animalia,Chordata,Mammalia,Dasyuridae,Planigale,-29.633753,153.216922,Australia,New South Wales,2019,1,283,-99.646643,2,12.0,NaN
4,Gehyra variegata,Gehyra variegata,species,Animalia,Chordata,Reptilia,Gekkonidae,Gehyra,-31.960032,116.032948,Australia,Western Australia,2019,1,185,-99.459459,3,NaN,NaN

In [12]:
# Update the 2019 file

Amphibians_2019.to_csv('ANIMALS.csv', sep=',', encoding='utf-8', index = False)